body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  margin: 0;
  position: relative;

  background-image: url("ecian.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Gelapkan dengan warna hitam transparan */
  z-index: 1; /* Pastikan di bawah konten */
}

.container {
  text-align: center;
  position: relative; /* Agar konten tetap di atas lapisan gelap */
  z-index: 2; /* Pastikan konten di atas lapisan gelap */
}

h1 {
  font-size: 3rem;
  color: #ffffff;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.heart {
  font-size: 5rem;
  animation: heartbeat 1s infinite;
}

.credit {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 1rem;
  color: #ffffff;
}

@keyframes heartbeat {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}
